.copyright {
  margin: 0;
  padding: 22px 0;
}

.copyright__link {
  display: block;
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  color: $black;
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.copyright__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
