.form-checkbox-btn {
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: (18/17);
  color: $black;

  @media (min-width: $screen-md) {
    font-size: 19px;
    line-height: 1;
  }
}

.form-checkbox-btn__input {
  //скрываем "правильно" для скринридеров
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked ~ .form-checkbox-btn__label > .form-checkbox-btn__pseudo-icon::after {
    border-bottom-color: $black;
    border-left-color: $black;
  }

  &:focus ~ .form-checkbox-btn__label > .form-checkbox-btn__pseudo-icon {
    border-color: $icon-background--active;
  }

  &:active ~ .form-checkbox-btn__label > .form-checkbox-btn__pseudo-icon {
    border-color: rgba($text-color, 0.3);
  }

  &:disabled ~ .form-checkbox-btn__label {
    opacity: 0.5;
    cursor: default;
  }
}


.form-checkbox-btn__label {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;

  &:hover > .form-checkbox-btn__pseudo-icon {
    border-color: $icon-background--active;
  }

  &:active > .form-checkbox-btn__pseudo-icon {
    border-color: rgba($text-color, 0.3);
  }
}

.form-checkbox-btn__pseudo-icon {
  position: relative;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 40px;
  height: 39px;
  margin-top: -6px;
  margin-right: 25px;
  border: 2px solid $text-color;

  @media (min-width: $screen-md) {
    width: 54px;
    height: 52px;
    margin-top: -12px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -80%) rotate(-45deg);
    width: 21px;
    height: 8px;
    border: 2px solid transparent;

    @media (min-width: $screen-md) {
      width: 29px;
      height: 14px;
    }
  }
}
