.form-checkbox-btn {
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: (18/17);
  color: $black;

  @media (min-width: $screen-md) {
    font-size: 19px;
    line-height: 1;
  }
}

.form-checkbox-btn__input {
  //скрываем "правильно" для скринридеров
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked ~ .form-checkbox-btn__label > .form-checkbox-btn__pseudo-icon::after {

  }

  &:focus ~ .form-checkbox-btn__label > .form-checkbox-btn__pseudo-icon {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  &:disabled ~ .form-checkbox-btn__label {
    opacity: 0.5;
  }
}


.form-checkbox-btn__label {
  position: relative;


  &:hover > .form-checkbox-btn__pseudo-icon {

  }

  &:active {

  }

  @media (min-width: $screen-md) {

  }
}

.form-checkbox-btn__pseudo-icon {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;


  @media (min-width: $screen-md) {

  }

  &::after {

  }
}
