.form-textfield {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: (18/17);
  color: $black;
  resize: none;

  @media (min-width: $screen-md) {
    font-size: 19px;
    line-height: 1;
  }

  &::placeholder {
    //повторил все свойства, поскольку в IE11 через inherit не применилось
    font-family: $main-fonts;
    font-size: 17px;
    font-weight: 400;
    line-height: (18/17);
    color: rgba($text-color, 0.3);

    @media (min-width: $screen-md) {
      font-size: 19px;
      line-height: 1;
    }
  }
}
