.form-radio-btn {
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: (18/17);
  color: $black;

  @media (min-width: $screen-md) {
    font-size: 19px;
    line-height: 1;
  }
}

//скрываем "правильно" для скринридеров
.form-radio-btn__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked ~ .form-radio-btn__label > .form-radio-btn__pseudo-icon {
    background-color: $icon-background--active;
  }

  //передаем фокус по умолчанию на псевдоиконку
  &:focus ~ .form-radio-btn__label > .form-radio-btn__pseudo-icon {
    border-color: $icon-background--active;
  }

  &:active ~ .form-radio-btn__label > .form-radio-btn__pseudo-icon {
    border-color: rgba($text-color, 0.3);
  }

  &:disabled ~ .form-radio-btn__label {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}


.form-radio-btn__label {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;

  &:hover > .form-radio-btn__pseudo-icon {
    border-color: $icon-background--active;
  }

  &:active > .form-radio-btn__pseudo-icon {
    border-color: rgba($text-color, 0.3);
  }
}

.form-radio-btn__pseudo-icon {
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin-top: -6px;
  margin-right: 25px;
  padding: 12px;
  border: 2px solid $text-color;
  border-radius: 50%;
  background-clip: content-box;

  @media (min-width: $screen-md) {
    width: 51px;
    height: 51px;
    margin-top: -12px;
    padding: 16px;
  }
}
