.form-orders {
  display: block;
  margin: 0;
  padding: 0 30px;
  padding-top: 25px;
  padding-bottom: 55px;

  @media (min-width: $screen-md) {
    padding: 0;
    padding-top: 75px;
    padding-bottom: 50px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 125px;
  }
}

.form-orders__descr {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: (24/13);

  @media (min-width: $screen-md) {
    margin: 0 50px;
    margin-bottom: 10px;
    font-size: inherit;
    line-height: inherit;
  }

  @media (min-width: $screen-lg) {
    margin-left: 225px;
    margin-right: 225px;
  }
}

.form-orders__field {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;

  &:last-of-type {
    margin-bottom: 10px;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 0;
    padding: 50px;
    padding-top: 65px;
    padding-left: 220px;

    &:last-of-type {
      margin-bottom: 0;
      padding-top: 50px;
    }

    &:nth-child(even) {
      background-color: $gray-lighten;
    }
  }

  @media (min-width: $screen-lg) {
    padding: 65px 225px;
    padding-bottom: 50px;

    &:last-of-type {
      padding-top: 50px;
    }
  }
}

.form-orders__legend {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: $color-main;

  &::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-top: 1px;
    margin-left: 25px;
    border-top: 1px solid $color-main;
  }

  &--label {
    pointer-events: none;
  }

  @media (min-width: $screen-md) {
    position: absolute;
    top: 65px;
    left: 50px;
    width: auto;
    margin: 0;

    &--label {
      top: 0;
      left: -165px;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $screen-lg) {
    left: 115px;

    &--label {
      left: -110px;
    }
  }
}

.form-orders__input-grid {

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -25px;

    & > .form-orders__input-wrap {
      width: 235px;
      margin-left: 25px;
    }
  }
}

.form-orders__input-wrap {
  margin: 0;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 35px;
  }
}

.form-orders__required-info {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: (16/14);

  @media (min-width: $screen-md) {
    margin-bottom: 0;
    font-size: 17px;
    line-height: (30/17);
  }
}

.form-orders__submit-wrap {

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $screen-lg) {
    padding-left: 225px;
    padding-right: 225px;
  }
}

.form-orders__btn-submit {
  width: 100%;

  @media (min-width: $screen-md) {
    order: -1;
    width: 230px;
  }
}
