.main-footer {
  background-color: $gray-lighten;

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.main-footer__logo {
  display: none;

  & svg {
    display: inline-block;
    vertical-align: middle;
    width: 102px;
    height: 34px;
    pointer-events: none;
  }

  @media (min-width: $screen-md) {
    flex-shrink: 0;
    display: block;
    cursor: default;
    fill: #231f20;

    &[href] {
      cursor: pointer;
    }

    &[href]:hover,
    &[href]:focus {
      fill: #46c1ae;
    }

    &[href]:active {
      opacity: 0.3;
      fill: #46c1ae;
    }
  }
}

.main-footer__social {
  height: 80px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $screen-md) {
    flex-shrink: 0;
    width: 250px;
    height: auto;
    border-bottom: none;
  }
}

.main-footer__copyright {
  padding: 23px 0;

  @media (min-width: $screen-md) {
    flex-shrink: 0;
    padding: 0;
  }
}
