.main-header {
  position: relative;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  background-color: $white;

  @media (min-width: $screen-md) {
    border-top: none;
  }

  @media (min-width: $screen-lg) {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.main-header__logo {
  display: block;
  text-align: center;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-md) {
    position: absolute;
    left: 0;
    top: 0;
  }

  @media (min-width: $screen-lg) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -38px;
    margin-left: -74px;
  }

  & img {
    display: block;
    width: 86px;
    height: 35px;
    padding: 20px;

    @media (min-width: $screen-md) {
      width: 112px;
      height: 46px;
      padding: 21px 50px;
    }

    @media (min-width: $screen-lg) {
      width: 149px;
      height: 72px;
      padding: 5px;
    }
  }
}

.main-header__toggle-btn {
  position: absolute;
  top: 39px;
  right: 21px;
  transform: translateY(-50%);
}

.main-header__info {
  display: none;
  font-size: 15px;
  line-height: (24/15);

  @media (min-width: $screen-md){
    position: absolute;
    bottom: -65px;
    right: 0;
    z-index: 5;
    display: block;
    margin: 0;
    padding: 20px 0;
    padding-right: 50px;
  }
}
