.main-contacts {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $screen-md) {
    padding-top: 70px;
    padding-bottom: 55px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 105px;
    padding-left: 275px;
  }
}

.main-contacts__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: (30/18);
  color: $black;

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
    font-size: $font-size-title--md;
    line-height: $line-height-title--md;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-title--lg;
    line-height: $line-height-title--lg;
  }
}

.main-contacts__detail {
  //TODO: доделать стилизацию таблицы контактов
  margin-bottom: 40px;
  font-size: 15px;
  line-height: (30/15);

  @media (min-width: $screen-md) {
    margin-bottom: 60px;
    font-size: 17px;
    line-height: (30/17);
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 80px;
  }
}

.main-contacts__email {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #46c1ae;
  }

  &:hover {
    color: $color-main;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.main-contacts__map-wrap {
  height: 460px;
  margin-bottom: 39px;
  overflow: hidden;

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
  }
}

.main-contacts__map-img,
.main-contacts__map-container {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: inherit;
}

.main-contacts__link {
  margin: 0;

  & > a {
    display: block;
  }
}
