.market-reviews {
  position: relative;
  padding-bottom: 50px;

  @media (min-width: $screen-md) {
    padding-top: 80px;
    padding-bottom: 135px;
    background-image: url(../img/background-review.jpg);
    background-size: auto 455px;
    background-position: left top;
    background-repeat: no-repeat;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 180px;
    padding-left: 275px;
    background-position: 100px top;
  }
}

.market-reviews__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: $font-size-title--sm;
  font-weight: 700;
  line-height: $line-height-title--sm;
  color: $black;

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
    padding-right: 250px;
    font-size: $font-size-title--md;
    line-height: $line-height-title--md;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-title--lg;
    line-height: $line-height-title--lg;
  }
}

.market-reviews__link {
  margin: 0;

  @media (min-width: $screen-md) {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
  }

  @media (min-width: $screen-lg) {
    right: 100px;
  }

  & > a {
    display: block;
  }
}
