.popular-product {
  padding-top: 30px;
  padding-bottom: 45px;

  @media (min-width: $screen-md) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 130px;
    padding-bottom: 100px;
  }
}

.popular-product__header {
  position: relative;
  margin-bottom: 25px;

  @media (min-width: $screen-md) {
    margin-bottom: 45px;
    padding-right: 160px;
  }

  @media (min-width: $screen-lg) {
    padding-right: 330px;
    padding-left: 175px;
  }
}

.popular-product__name {
  margin: 0;
  margin-bottom: 5px;
  font-size: $font-size-title--sm;
  font-weight: 700;
  line-height: $line-height-title--sm;
  color: $black;

  @media (min-width: $screen-md) {
    font-size: $font-size-title--md;
    line-height: $line-height-title--md;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-title--lg;
    line-height: $line-height-title--lg;
  }
}

.popular-product__rating {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: $color-main;

  & > br {
    display: none;
  }

  @media (min-width: $screen-md) {
    position: absolute;
    top: 8px;
    right: 28px;
    text-align: center;

    & > br {
      display: inline;
    }
  }

  @media (min-width: $screen-lg) {
    left: 30px;
    right: auto;
  }
}

.popular-product__descr {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $screen-md) {
    margin-bottom: 50px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 60px;
  }
}

.popular-product__specification {
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: (20/15);
  border: none;
  border-collapse: collapse;

  & tr {
    border-bottom: 1px solid $gray-light;
  }

  & td {
    padding: 10px 0;
    text-align: left;

    &:first-child {
      width: 100px;
    }
  }

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 110px;
  }
}

.popular-product__img {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.popular-product__cost {
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: (24/17);

  @media (min-width: $screen-md) {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: (24/20);
  }
}

.popular-product__link {
  display: block;
}
