.products-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.products-list__item {
  position: relative;
  display: block;
  background-color: $color-main;

  &:nth-child(4n+2),
  &:nth-child(4n+3) {
    background-color: #56c3b2;
  }

  &:hover::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 7px;
    background-color: inherit;
  }

  @media (min-width: $screen-md) {
    min-height: 100px;
    width: 50%;
  }
}

.products-list__link {
  position: relative;
  display: block;
  padding: 28px 30px;
  padding-right: 50%;
  font-size: 19px;
  font-weight: 700;
  line-height: (24/19);
  text-decoration: none;
  color: $white;

  &:hover,
  &:focus {
    transform: translateY(-5px);

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba($white, 0.5);

    &::before {
      opacity: 0.3;
    }
  }

  &--interior::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 36px;
    width: 40px;
    height: 62px;
    margin-top: -31px;
    opacity: 0.5;
    background-image: svg-load('icon-interior.svg');
  }

  &--toys::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 27px;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    opacity: 0.5;
    background-image: svg-load('icon-toy.svg');
  }

  @media (min-width: $screen-md) {
    padding: 30px;
    font-size: 20px;
    line-height: (30/20);
  }
}
