.product-making {
  position: relative;
  margin-bottom: 60px;
  padding-top: 95px;
  border: 1px solid $gray-light;
  background-color: $white;

  @media (min-width: $screen-md) {
    margin-bottom: 65px;
    padding-top: 0;
    border: none;
  }

  @media (min-width: $screen-lg) {
    display: flex;
    margin-bottom: 105px;
    padding: 0;
    border: 1px solid $gray-light;
  }
}

.product-making__video-container {
  position: relative;
  background-color: $gray-light;

  @media (min-width: $screen-lg) {
    flex-shrink: 0;
    width: 680px;
  }
}

.product-making__wrap-video {
  position: relative;
  height: 0;
  width: 100%;
  margin: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.product-making__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.js .product-making__video-control {
  display: block;
}

.product-making__video-control {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }

  & > svg {
    width: 100%;
    height: auto;
  }
}

.product-making__wrap-desc {
  padding: 35px;
  padding-top: 30px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($black, 0.1);
  }

  @media (min-width: $screen-md) {
    padding: 40px;
    padding-top: 35px;
    padding-bottom: 45px;
    border: 1px solid $gray-light;
  }

  @media (min-width: $screen-lg) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 60px;
    border: none;
  }
}

.product-making__title {
  position: absolute;
  top: 30px;
  margin: 0;
  margin-right: 35px;
  padding-left: 60px;
  font-size: 17px;
  font-weight: 700;
  line-height: (24/17);
  color: $black;
  background-image: svg-load('icon-videocamera.svg');
  background-position: left center;
  background-size: 32px auto;
  background-repeat: no-repeat;

  @media (min-width: $screen-md) {
    position: static;
    margin-right: 0;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: (24/20);
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 30px;
    padding-left: 0;
    padding-top: 60px;
    background-position: left 20px;
  }
}

.product-making__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: (24/13);

  @media (min-width: $screen-md) {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: (30/15);
  }
}

.product-making__wrap-link {
  display: block;
  margin: 0;
}

.product-making__buy-link {
  display: block;
}
