.reviews-slider {
  position: relative;
}

.js .reviews-slider__list {
  margin-bottom: 30px;

  @media (min-width: $screen-md) {
    position: relative;
    height: 235px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-lg) {
    height: 185px;
  }
}

.reviews-slider__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  @media (max-width: $screen-md - 1) {
    line-height: (30/15);
  }
}

.js .reviews-slider__item {
  display: none;

  &--current {
    display: block;
  }

  @media (min-width: $screen-md) {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    &--prev {
      transform: translateX(-100%);
    }

    &--next {
      transform: translateX(100%);
    }

    &--current {
      transform: translateX(0);
    }
  }
}

.reviews-slider__item {
  margin: 0;
}

.no-js .reviews-slider__quote {
  height: auto;
}

.reviews-slider__quote {
  display: block;
  min-height: 60px;
  max-height: 300px;
  margin: 0;
  margin-bottom: 35px;
  overflow-y: auto;

  @media (min-width: $screen-md) {
    height: 120px;
    margin-bottom: 55px;
  }

  @media (min-width: $screen-lg) {
    height: 90px;
    margin-bottom: 35px;
  }
}

.no-js .reviews-slider__author {
  margin-bottom: 40px;
}

.reviews-slider__author {
  display: block;
  max-width: 450px;
}

.reviews-slider__author-name {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: (24/17);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.reviews-slider__author-nick {
  display: block;
  font-size: 17px;
  font-style: italic;
  line-height: (30/17);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-js .reviews-slider__controls {
  display: none;
}

.reviews-slider__controls {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $screen-md) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
    margin-bottom: 0;
  }
}

.reviews-slider__btn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 52px;
  padding: 0;
  border: 1px solid #ececec;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $screen-md) {
    height: 58px;
    border: none;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  &--prev::after {
    transform: rotate(180deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 26px;
    margin-top: -13px;
    margin-left: -25px;
    background: svg-load('slider-btn-arrow.svg') center no-repeat;
  }
}
