.js .reviews-slider {

  @media (min-width: $screen-md) {
    padding-bottom: 60px;
  }
}

.reviews-slider {
  position: relative;
}

.reviews-slider__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.js .reviews-slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.reviews-slider__item {
  margin: 0;
  margin-bottom: 30px;

  @media (max-width: $screen-md - 1) {
    line-height: (30/15);
  }

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 40px;
  }
}

.js .reviews-slider__quote {

  @media (min-width: $screen-md) {
    margin-bottom: 0;
  }
}

.reviews-slider__quote {
  display: block;
  min-height: 60px;
  max-height: 275px;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $screen-md) {
    max-height: 150px;
    overflow-y: auto;
  }
}

.js .reviews-slider__author {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $screen-md) {
    max-width: 480px;
  }
}

.reviews-slider__author {
  display: block;
}

.reviews-slider__author-name {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: (24/17);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.reviews-slider__author-nick {
  display: block;
  font-size: 17px;
  font-style: italic;
  line-height: (30/17);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-js .reviews-slider__controls {
  display: none;
}

.reviews-slider__controls {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $screen-md) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
    margin-bottom: 0;
  }
}

.reviews-slider__btn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 52px;
  padding: 0;
  border: 1px solid #ececec;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $screen-md) {
    height: 58px;
    border: none;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  &--prev::after {
    transform: rotate(180deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 26px;
    margin-top: -13px;
    margin-left: -25px;
    background: svg-load('slider-btn-arrow.svg') center no-repeat;
  }
}
