.webp .site-promo {
  background-image: url('../img/background-header--sm@1x.webp');

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/background-header--sm@2x.webp');
  }

  @media (min-width: $screen-md) {
    background-image: url('../img/background-header--md.webp');
  }

  @media (min-width: $screen-lg) {
    background-image: url('../img/background-header--lg.webp');
  }
}

.site-promo {
  position: relative;
  padding-top: 75px;
  background-color: #fafafa;
  background-image: url('../img/background-header--sm@1x.jpg');
  background-size: auto 373px;
  background-position: center -30px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/background-header--sm@2x.jpg');
  }

  @media (min-width: $screen-md) {
    padding-top: 160px;
    background-image: url('../img/background-header--md.jpg');
    background-size: auto 764px;
    background-position: center -20px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 165px;
    background-image: url('../img/background-header--lg.jpg');
  }
}

.site-promo__slogan {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 115px;
  font-size: 27px;
  font-weight: 700;
  line-height: (30/27);
  color: $black;
  text-align: center;

  @media (min-width: $screen-md) {
    max-width: 660px;
    margin-bottom: 365px;
    font-size: $font-size-title--md;
    line-height: $line-height-title--md;
  }

  @media (min-width: $screen-lg) {
    max-width: 700px;
    margin-bottom: 350px;
    font-size: $font-size-title--lg;
    line-height: $line-height-title--lg;
  }
}

.site-promo__products {

  @media (max-width: $screen-md - 1) {
    margin-left: -30px;
    margin-right: -30px;
  }
}
