.menu-toggle-btn--close ~ .site-navigation {

  @media (max-width: $screen-md - 1) {
    display: none;
  }
}

.js .site-navigation {

  @media (max-width: $screen-md - 1) {
    position: absolute;
    z-index: 5;
  }
}

.site-navigation {
  display: block;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  line-height: (24/17);
  color: $black;
  background-color: $white;
  border-top: 1px solid $gray-light;

  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    font-size: 15px;
    line-height: (24/15);
  }

  @media (min-width: $screen-md) {
    position: static;
    display: flex;
    width: auto;
    border-top: none;
  }
}

.site-navigation__list {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-md) {
    position: absolute;
    bottom: -65px;
    left: 0;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 20px;
  }

  @media (min-width: $screen-lg) {
    position: static;
    max-width: 500px;
    padding-left: 15px;
  }
}

.site-navigation__item {
  display: block;
  border-bottom: 1px solid $gray-light;

  & > a {
    display: block;
    padding: 28px;
    padding-left: 75px;
    color: inherit;
    text-decoration: none;
  }

  & > a[href]:hover,
  & > a[href]:focus {
    opacity: 0.6;
  }

  & > a[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-md) {
    margin-left: 30px;
    border: none;

    & > a {
      padding: 20px 0;
    }
  }

  @media (min-width: $screen-lg) {
    margin: 0;
    padding: 0 35px;

    &:nth-child(odd) {
      border-right: 1px solid $gray-light;
    }

    & > a {
      padding: 30px 0;
    }
  }
}

.site-navigation__extend-navigation {
  display: none;

  @media (min-width: $screen-lg) {
    position: absolute;
    bottom: -65px;
    z-index: 5;
    display: flex;
  }
}
