.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links__item {
  display: block;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.social-links__link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
    fill: #46c1ae;
  }

  &--insta svg {
    width: 22px;
    height: 21px;
  }

  &--fb svg {
    width: 15px;
    height: 28px;
  }

  &--tw svg {
    width: 23px;
    height: 20px;
  }

  & > svg {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
  }
}
