.user-navigation {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: (24/17);
  color: $black;
  list-style: none;

  @media (min-width: $screen-md) {
    display: flex;
    height: 100%;
    max-width: 500px;
    margin-left: auto;
  }
}

.user-navigation__item {
  position: relative;
  display: block;
  border-bottom: 1px solid $gray-light;

  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;
    border-bottom: none;
    border-left: 1px solid $gray-light;
  }
}

.user-navigation__link {
  display: block;
  padding: 28px;
  padding-left: 75px;
  color: inherit;
  text-decoration: none;
  fill: $icon-background;

  &[href]:hover,
  &[href]:focus {
    color: rgba($black, 0.6);
    fill: $icon-background--active;
  }

  &[href]:active {
    opacity: 0.3;
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 32px;
    width: 21px;
    height: 18px;
    margin-top: -9px;
  }

  @media (min-width: $screen-md) {
    padding: 32px 0;
    padding-left: 80px;
    padding-right: 50px;

    &--search {
      height: 24px;
      padding-right: 0;
    }
  }
}

.user-navigation__search-text {

  @media (min-width: $screen-md) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
}
