.wrapper {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $screen-md) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $screen-lg) {
    padding-left: 100px;
    padding-right: 100px;
  }
}
