.wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-lg) {
    padding-left: 110px;
    padding-right: 110px;
  }
}
