$main-fonts:                  'Open Sans', Arial, sans-serif;


$screen-xs:                   0;
$screen-sm:                   320px;
$screen-md:                   768px;
$screen-lg:                   1250px;
$retina-dpi:                  144dpi;
$retina-dppx:                 1.5dppx;

$font-size--sm:               15px;
$font-size--md:               17px;
$font-size-title--sm:         25px;
$font-size-title--md:         43px;
$font-size-title--lg:         53px;

$line-height--sm:             (24/15);
$line-height--md:             (30/17);
$line-height-title--sm:       (30/25);
$line-height-title--md:       (50/43);
$line-height-title--lg:       (57/53);

$black:                      hsl(0, 0%, 0%);
$white:                      hsl(0, 0%, 100%);
$color-main:                 #63d1bb;

$text-color:                 #444444;
$gray-light:                 #ececec;
$gray-lighten:               #f1f1f1;

$icon-background:            #d3d2d2;
$icon-background--active:    $color-main;

$z-index--modal-backdrop:    10;
$z-index--modal-popup:       15;
