<header class="main-header">

  @@if (current_page === "index_html") {
  <a class="main-header__logo">
    <picture>
      <source media="(min-width: 1440px)" srcset="img/mishka-logo--lg.svg">
      <source media="(min-width: 768px)" srcset="img/mishka-logo--md.svg">
      <img src="img/mishka-logo--sm.svg" alt="Логотип магазина Mishka" width="86" height="35">
    </picture>
  </a>
  }

  @@if (current_page !== "index_html") {
  <a class="main-header__logo" href="index.html">
    <picture>
      <source media="(min-width: 1440px)" srcset="img/mishka-logo--lg.svg">
      <source media="(min-width: 768px)" srcset="img/mishka-logo--md.svg">
      <img src="img/mishka-logo--sm.svg" alt="Логотип магазина Mishka" width="86" height="35">
    </picture>
  </a>
  }

  <nav class="site-navigation">
    <!--DEV При открытии меню к кнопке нужно добавлять класс menu-toggle-btn--open -->
    <button class="main-header__toggle-btn menu-toggle-btn menu-toggle-btn--open js-menu-toggle-btn" name="toggle-menu" type="button" aria-label="Открыть меню" hidden>
      <span class="menu-toggle-btn__line"></span>
    </button>

    <!--DEV Переключение активного пункта меню выполняется добавлением класса site-navigation__item--current к элементам списка -->
    <!--DEV Переключение активного пункта подменю выполняется добавлением класса extend-navigation__item--current к элементам списка -->
    <ul class="site-navigation__list js-site-menu">
      @@if (current_page === "index_html") {
      <li class="site-navigation__item">
        <a href="catalog.html">Каталог товаров</a>

        <ul class="extend-navigation">
          <li class="extend-navigation__item">
            <a href="new_product.html">Новые поступления</a>
          </li>
          <li class="extend-navigation__item">
            <a href="sale.html">Распродажа</a>
          </li>
        </ul>
      </li>
      <li class="site-navigation__item">
        <a href="form.html">Вязание на заказ</a>
      </li>
      }
      @@if (current_page === "catalog_html") {
      <li class="site-navigation__item site-navigation__item--current">
        <a>Каталог товаров</a>

        <ul class="extend-navigation">
          <li class="extend-navigation__item">
            <a href="new_product.html">Новые поступления</a>
          </li>
          <li class="extend-navigation__item">
            <a href="sale.html">Распродажа</a>
          </li>
        </ul>
      </li>
      <li class="site-navigation__item">
        <a href="form.html">Вязание на заказ</a>
      </li>
      }
      @@if (current_page === "form_html") {
      <li class="site-navigation__item">
        <a href="catalog.html">Каталог товаров</a>

        <ul class="extend-navigation">
          <li class="extend-navigation__item">
            <a href="new_product.html">Новые поступления</a>
          </li>
          <li class="extend-navigation__item">
            <a href="sale.html">Распродажа</a>
          </li>
        </ul>
      </li>
      <li class="site-navigation__item site-navigation__item--current">
        <a>Вязание на заказ</a>
      </li>
      }
    </ul>
  </nav>

  <nav class="user-navigation">
    <ul class="user-navigation__list">
      <li class="user-navigation_item user-navigation_item--search">
        <a href="search.html">
          <svg role="presentation" aria-hidden="true" width="18" height="18">
            <use xlink:href="#icon-search"></use>
          </svg>
          <span class="user-navigation__search-text">Поиск по сайту</span>
        </a>
      </li>
      <li class="user-navigation_item user-navigation_item--cart">
        <a href="cart.html">
          <svg role="presentation" aria-hidden="true" width="21" height="18">
            <use xlink:href="#icon-cart"></use>
          </svg>
          Корзина: пока пусто
        </a>
      </li>
    </ul>
  </nav>

  <p class="main-header__info">Бесплатная доставка по России</p>
</header>
