<footer class="wrapper main-footer">

  @@if (current_page === "index_html") {
  <a class="main-footer__logo">
    <svg role="img" aria-label="Логотип магазина Mishka" width="102" height="34" focusable="false">
      <use xlink:href="#logo-footer"></use>
    </svg>
  </a>
  }

  @@if (current_page !== "index_html") {
  <a class="main-footer__logo" href="index.html">
    <svg role="img" aria-label="Логотип магазина Mishka" width="102" height="34" focusable="false">
      <use xlink:href="#logo-footer"></use>
    </svg>
  </a>
  }

  <ul class="main-footer__social social-links">
    <li class="social-links__item">
      <a class="social-links__link social-links__link--insta" href="https://www.instagram.com/mishka/">
        <span class="visually-hidden">Мы в Инстаграме</span>
        <svg role="presentation" aria-hidden="true" width="22" height="21" focusable="false">
          <use xlink:href="#icon-insta"></use>
        </svg>
      </a>
    </li>
    <li class="social-links__item">
      <a class="social-links__link social-links__link--fb" href="https://www.facebook.com/mishka/">
        <span class="visually-hidden">Мы в Фейсбуке</span>
        <svg role="presentation" aria-hidden="true" width="15" height="28" focusable="false">
          <use xlink:href="#icon-fb"></use>
        </svg>
      </a>
    </li>
    <li class="social-links__item">
      <a class="social-links__link social-links__link--tw" href="https://twitter.com/mishka?lang=ru">
        <span class="visually-hidden">Мы в Твиттере</span>
        <svg role="presentation" aria-hidden="true" width="23" height="20" focusable="false">
          <use xlink:href="#icon-tw"></use>
        </svg>
      </a>
    </li>
  </ul>

  <div class="main-footer__copyright copyright">
    <a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
      Разработано
      <svg class="copyright__icon" role="img" aria-label="HTML Academy" width="27" height="34" focusable="false">
        <use xlink:href="#icon-htmlacademy"></use>
      </svg>
    </a>
  </div>
</footer>
